{
  "presets": ["forbeslindesay"],
  "plugins": [
    "transform-flow-comments",
    [
      "module-alias",
      [
        {
          "src": "./src",
          "expose": "bicycle"
        }
      ]
    ]
  ],
  "env": {
    "development": {
      "plugins": [["flow-runtime", {
        "annotate": true,
        "assert": true
      }]]
    },
    "production": {
      "plugins": []
    }
  }
}
